.container-fluid {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    height:50%;
}

.limit{
    overflow: hidden;
 }
.limit img{
   width: 100%;
   height: 100%;
}
.limit video{
    width: 100%;
    height: 100%;
}

@keyframes append-animate {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;	
    }
}

/* animate new box */
.new-media {
    animation: append-animate .3s ease-in;
}